{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link href="{% static 'guessr/reset.css' %}" rel="stylesheet">
    <link href="{% static 'guessr/main.css' %}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/fad9bed69e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <header class='header'>
        <nav>
            <a href='{% url "index" %}'>
                <h1 class="header-title">{% block navtitle %}{% endblock %}</h1>
            </a>

            <div class="page-selector">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="page-nav hidden">
                    <ul>
                        <li><a href="{% url 'index' %}">home</a></li>
                        <li><a href="{% url 'guesser' curDay %}">who are ya</a></li>
                    </ul>
                </div>
            </div>

            <script>
                const hamburger = document.querySelector('.hamburger');
                const pages = document.querySelector('.page-nav');
                hamburger.addEventListener('click', () => {
                    hamburger.classList.toggle('active')
                    pages.classList.toggle('hidden')
                })
            </script>
        </nav>
    </header>

    {% block body %}
    {% endblock %}
</body>
</html>